<template name="header">
  
<div class="row-fluid header_bar navbar navbar-fixed-top main-theme">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <div class="logo">
        <span>
          <a href="{{postsListPath}}">
            <span class="main_logo_text">Code
              <span>
                Recipes
              </span>
            </span>
            <p>Empower your learning Share your Knowledge</p>

          </a>
        </span>
        
      </div>



      <div class="nav-collapse pull-right">
        <ul class="nav">
          <li class="{{activeRouteClass 'home'}}">
            <a href="{{homePath}}">Index</a>
          </li>
          <li class="{{activeRouteClass  'newPosts'}}">
            <a href="{{newPostsPath}}">Recipes</a>
          </li>
          {{#if currentUser}}
            <li class="{{activeRouteClass  'postSubmit'}}">
              <a href="{{postSubmitPath}}">Submit Recipe</a>
            </li>
            <li class="dropdown">
              {{> notifications}}
            </li>
          {{/if}}
          <li style="margin-top: 0px;">{{loginButtons}}</li>
        </ul>
      </div>
      
    </div>
  </div>
</div>
</template>