<template name="header">
  
<div class="row-fluid header_bar navbar navbar-fixed-top main-theme">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <div class="logo">
        <span>
          <a href="{{pathFor 'home'}}">
            <span class="main_logo_text">Code
              <span>
                Recipes
              </span>
            </span>
            <p>Empower your learning Share your Knowledge</p>
          </a>
        </span>
      </div>
      
      <div class="nav-collapse pull-right">
        <ul class="nav">
          <li class="">
            <a href="{{pathFor 'home'}}">Index</a>
          </li>
          <li class="">
            <a href="{{pathFor 'newPosts'}}">Recipes</a>
          </li>
          {{#if currentUser}}
            <li class="">
              <a href="{{pathFor 'postSubmit'}}">Submit Recipe</a>
            </li>
            <li class="dropdown">
              {{> notifications}}
            </li>
          {{/if}}
          <li class="">
            <a href="{{pathFor 'login'}}">Account</a>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</div>
</template>