<template name='home'>
  <div class="row-fluid">
   <div class="container-fluid home_content">
    <div class="row-fluid hero_bar">
      <div class="span12">
        <div class="row-fluid">
          <br>

          <div class="span9 offset1 home-hero">

            <div class="row-fluid">
              <div class="span12">

                <h2 style="font-size: 48px;text-align: center;color: rgb(22, 6, 107);">Get Code Recipes</h2>

                <div style="padding-top: 10px; padding-bottom: 30px;text-align: center;">
                  <p style="color: rgb(4, 4, 75);">
                    A great place for shared you best code recipes and tutorials.<br>
                    Making it easy to learn and share your knowledge.
                  </p>
                </div>

                <div style="text-align: center;">
                  <img style='padding-left: 30px;' src="/images/codesharerecipes.png">
                  <div id="js-stiky-target" style='padding-left: 60px; padding-top: 30px;' class="home-wow-call-to-action-form-wrapper background-transparent-50" data-stiky-height="850">

                    <div style="background: rgba(194, 193, 193, 0.5);padding-bottom: 15px;">
                      <h2 style="text-align: center;color: rgb(1, 26, 90);font-size: 20px;padding-top: 10px;">
                        Start writting code recipes now
                      </h2>
                        <a href="{{pathFor 'postSubmit'}}" class='btn btn-primary btn-large post_job'>
                          Code a Recipe<br><small>(it's free!)</small>
                        </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid home_main_content" style="padding-top: 15px;padding-bottom: 15px;">
  <div class="row-fluid">
    <h2 style="font-size: 40px;text-align: center;color: rgb(22, 6, 107);padding-top: 15px;">Awesome Features</h2>
    <p style="color: rgb(4, 4, 75);text-align: center;padding-bottom: 25px;"> Awesome features that will ake code a recipe really easy,<br> fast and intuitive.</p>

    <div class="span12" style="padding-top: 15px;padding-bottom: 15px;">
      <div class="row-fluid" style="text-align: center;padding-left: 15px;">

        <div class="span3">
          <i class="icon-quote-right" style="font-size: 5.5em;"></i>
          <h3 style="text-align: center;padding-bottom: 15px;font-size: 20px;">MarkDown Extra</h3>
          <p>
            Fast and easy, with markdown you can create and document your code really fast,
            create awesome rich code recipes thanks to the extra features that markdown offers
          </p>
        </div>

        <div class="span3 offset1">
          <i class="icon-cogs" style="font-size: 5.5em;"></i>
          <h3 style="text-align: center;font-size: 20px;padding-bottom: 15px;">Simple Powerfull</h3>
          <p>Not complex features, not complex setup process, just code and you, easy to writte
            and more easy to share. Create code examples and share them
          </p>
          <br>
        </div>
        <div class="span3 offset1">
          <i class="icon-wrench" style="font-size: 5.5em;"></i>
          <h3 style="text-align: center;font-size: 20px;padding-bottom: 15px;">Register now</h3>
          <p>
            No month flee, no purchrase price. Register in only one step for
            free and you can start coding recipes and share them.
          </p>
          <br>
       </div>
     </div>
     <div class="row-fluid">
       <div class="span12" style="text-align: center;padding-top: 45px;">
         <a href="" class='btn btn-primary btn-small post_job'>
           Check out more features<br><small>And Tips</small>
         </a>
       </div>
     </div>
   </div>
  </div>
</div>

<div class="container-fluid home_content">

  <div class="row-fluid hero_bar">

    <div class="span12">
      <div class="row-fluid">
        <h2 style="font-size: 40px;text-align: center;color: rgb(22, 6, 107);padding-top: 30px;">CHECK LAST RECIPES</h2>
        <div class="" style="padding-top: 10px; padding-bottom: 30px;text-align: center;">
          <p style="color: rgb(4, 4, 75);">Check out the last code recipes that sers have writted !! </p>
        </div>
        <div style="padding-bottom: 20px;">
          <img src="/images/last-recipes.png">
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid home_main_content" style="padding-top: 15px;padding-bottom: 15px;">
  <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
          <h2 style="font-size: 40px;text-align: center;color: rgb(22, 6, 107);padding-top: 30px;">GET STUFF DONE</h2>
          <div style="padding-top: 10px; padding-bottom: 30px;text-align: center;">
            <p style="color: rgb(4, 4, 75);">
              Don't waste your time with complex apps that dont do what you want.<br>
              Just code a recipe example, paste a github, jsbin etc ... link and document it !!<br>
              <strong> Thats all.</strong>
            </p>

            <img style='padding-top: 20px;' src="/images/stuff-done.jpg">

            <div class="span12" style="text-align: center; padding-top: 35px; padding-bottom: 30px; padding-right: 20px;">
              <a href="/submit" class='btn btn-primary btn-small post_job'>
                START CODING<br>
                <small>NOW</small>
              </a>
            </div>

          </div>
        </div>
      </div>
  </div>
</div>
  {{> footer}}
</template>
