<footer>
  <div class="container-fluid">
    <div class="row-fluid footer_section_pre">
      
      <div class="span12">
        <p class="copy center">
        	{{#link-to "app.index"}}Index{{/link-to}} | {{#link-to "app.about"}}About{{/link-to}} | {{#link-to "recipes"}}Recipes{{/link-to}} | {{#link-to "app.features"}} Features {{/link-to}}
        </p>
        <p class="copy center">All content &copy; 2013 {{#link-to "app.index"}}CodeShareRecipes{{/link-to}}</p>
        <br />
      </div>
    </div>
  </div>
</footer>