<div class="row">
  <div class="large-12 columns">{{partial "common/navbar"}}</div>
</div>

<div class="row recipecontent">
  <div class="large-12 columns">
    {{outlet}}
  </div>
</div>

<div class="row" style="padding-top: 35px;">
  <div class="large-12 columns">{{partial "common/footer"}}</div>
</div>