{{#each recipe in controller}}
  <tr>
    <td> <span class="label label-warning">Javascript</span> </td>
		{{#linkTo "recipes.recipe" recipe tagName="td"}}
      <strong> <a {{bindAttr href="view.href"}}> {{title}} </a> </strong><br />
    {{/linkTo}}
		<td>EmberJs<br />Javascript, Html, Cs</td>
		<td > 10 Jan 2013</td>
	</tr>
{{/each}}