<div class="row-fluid">
  <div class="container-fluid home_content">
    
    <div class="row-fluid hero_bar"><!-- start hero -->
		  
		  <div class="span12">
        <h2 style="font-size: 48px;text-align: center;margin-top: 40px;color: rgb(22, 6, 107);">ABOUT</h2>
        <div style="padding-top: 10px; padding-bottom: 1px;text-align: center;">
          <p style="color: rgb(4, 4, 75);">Why we build code share recipes, what is our goal...<br>resolve your questions here</p>
        </div>
      </div>
	  </div>
  </div>

  <div class="container-fluid home_main_content" style="padding-top: 15px;padding-bottom: 15px;">
	  <div class="row-fluid">
	  
	    <div class="span12" style="padding-top: 25px;padding-bottom: 15px;">
        <div style="padding-right: 30px;padding-left: 15px;">
  
				  <h3 style="text-align: left;padding-bottom: 15px;font-size: 20px;">WHAT IS CODESHARE ?</h3>
					<p style="text-align: left;">
					  To us, learn to code involves share your knowledge with other, so we planned this page as 
					  a central repo for all your recipes and tutorials, and make users able to share them, as 
					  simple as that, no complex features, no hard process.
					  
            <br><br>
              
            Sure, there are alot of guides/blogs all around internet, there is also github etc as a 
            central repo but ....... Have you tried to find something on github ? Is a hell !!!, also 
            the amount of blogs that have old code in versions that now dont work , or code that never 
            worked ? Sure you experienced the fustration of check for days on blogs, books etc and 
            didn't found the solution..
          </p>
          <br>
        </div>

        <div style="padding-right: 30px;padding-left: 15px;">
  
				  <h3 style="text-align: left;padding-top: 30px;padding-bottom: 15px;font-size: 20px;">THE PROBLEM</h3>
					<p style="text-align: left;">
            Most of the blogs out there, guides etc have old content, and alot of them have complex 
            examples that you really dont need.

            <br><br>

            Imagine you are looking for an example of a code that adds a functionality to a post, and 
            all you can find is examples of full blogs with alot of complex features that you 
            really dont need.
              
            <br><br>

            Then you get the code that you need from the example and implement it on your code and.... 
            tadaaa dont works... Then the proccess starts again... look for other code example... 
            extract what you need...
          </p>
          <br>
        </div>

        <div style="padding-right: 30px;padding-left: 15px;">
  
				  <h3 style="text-align: left;padding-bottom: 15px;padding-top: 30px;font-size: 20px;">Our Solution</h3>
				  <p style="text-align: left;">
				    We created CodeRecipes for share little code recipes and tutorials that WORK, so you can 
					  just underestand how that little piece of code works and implement it on your code. Thats 
				    is noting more simple !!!
				  </p>
				  <br>
				</div>
			</div>
	  </div>
  </div>

  <div class="container-fluid home_content">
	
	  <div class="row-fluid hero_bar"><!-- start hero -->
		
		  <div class="span12">
        <div class="row-fluid">
          <h2 style="font-size: 40px;text-align: center;color: rgb(22, 6, 107);padding-top: 30px;"> We ♥ Open Source</h2>
          <div class="" style="padding-top: 10px; padding-bottom: 30px;text-align: center;">
            
            <p style="color: rgb(4, 4, 75);">We build this adapter for enjoy emberj and meteor </p> 
            <div class="span5 offset3" style="padding-left: 42px;padding-top: 30px;padding-bottom: 25px;">
              <a href="https://github.com/brobles82/ember-meteor" class='btn btn-primary btn-large post_job'>
                Meteor-Adapter<br><small>(Github)</small>
              </a>
            </div>
          </div>
          
          <div style="padding-bottom: 20px;"></div>
        </div>
      </div>
	  </div>
  </div>
</div>