<div class="container-fluid home_content">
  
  <div class="row-fluid hero_bar"><!-- start hero -->
	  
    <div class="span12">
      <div class="row-fluid">
			  <br />
        <div class="span9 offset1 home-hero">
					
          <div class="row-fluid">
						<div class="span11 offset1">
							<div class="row-fluid">
								<h2> Empower the learning, share your tutorials and recipes</h2>
							</div>
						</div>
					</div>
					
          <br/>
					
          <div class="row-fluid">
						<div class="span12">
									
							<div class="row-fluid">
								<div class="span3 offset1">
									<h3>Post a Code Recipe</h3>
                  {{#linkTo 'recipes' }}Fast and free{{/linkTo}}
                  <br />
								</div>
								<div class="span3 offset1">
									<h3>Create a tutorial</h3>
									<a href="browse.html">Create and share your tutorial</a><br />
								</div>					
								<div class="span3 offset1">
			  					<h3>Register</h3>
									<a href="register.html">Start creating tutorials and recipes</a><br />
								</div>
							</div>
						</div>
					</div>
          
				</div>		
			</div>
		</div>
	</div>
</div><!-- end hero -->
		
<div class="container-fluid home_main_content"><!-- Start Table section -->
	<div class="row-fluid">
	  <div class="span9">
		  <div class="row-fluid">
			  
        <div class="span12">
				  <h2>Last Recipes</h2>
				  <table class="table table-striped">
					  <tbody>
              
              {{#each recipe in controller}}
                <tr>
  						    <td> <span class="label label-warning">Javascript</span> </td>
							    {{#linkTo "recipes.recipe" recipe tagName="td"}}
                    <strong> <a {{bindAttr href="view.href"}}> {{title}} </a> </strong><br />
                  {{/linkTo}}
							    <td>EmberJs<br />Javascript, Html, Cs</td>
							    <td > 10 Jan 2013</td>
						    </tr>
              {{/each}}
              
					  </tbody>
				  </table>
			  </div>
      </div>
    </div>
    
    <div class="span3">
		  <h2>&nbsp;</h2>
		  
      <div class="row-fluid">
			  <div class="span12 center">
          {{#linkTo 'recipes' classNames='btn btn-primary btn-large post_job'}}
            Post a Recipe<br /><small>(it's free!)</small>
          {{/linkTo}}
			  </div>
		  </div>
    </div>
  </div>
</div>
