<div class="container-fluid home_content">
	
	<div class="row-fluid hero_bar"><!-- start hero -->
		
		<div class="span12">
			<div class="row-fluid">
				<br>
				
				<div class="span9 offset1 home-hero">
							
					<div class="row-fluid">
						<div class="span11 offset2">
							<h2 style="color: rgb(2, 2, 146);"> Find here simple working code recipes and share them </h2>
						</div>
					</div>
					
					<br>
					
					<div class="row-fluid">
						<div class="span12">
									
							<div class="row-fluid">
								<div class="span3 offset1">
									<h3>MarkDown Extra</h3>
									{{#linkTo 'recipes'}}Create rich code recipes with markdown{{/linkTo}}<br>
								</div>
								<div class="span3 offset1">
									<h3>Simple Powerfull</h3>
									{{#linkTo 'recipes'}}Simple code recipes that work, not complex examples{{/linkTo}}<br>
								</div>					
								<div class="span3 offset1">
									<h3>Register now</h3>
									{{#linkTo 'app.login'}} It's free and you can start coding recipes and share {{/linkTo}}<br>
								</div>
							</div>
									
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid home_main_content">
	<div class="row-fluid">

		<div class="span9">

			<div class="row-fluid">

				<div class="span12">
					<h2>Recent Recipes</h2>
					
					

				</div>
			
			</div>
		</div>

	
		<div class="span3">
			<h2>&nbsp;</h2>
			<div class="row-fluid">
				<div class="span12 center">
					{{#linkTo recipes.new  classNames="btn btn-primary btn-large post_job" }}
						Post a Recipe<br /><small>(it's free!)</small>
					{{/linkTo}}
				</div>
			</div>
			<br />
		</div>
	</div>
</div>
