<div class="container-fluid home_main_content"><!-- Start Table section -->
  <div class="row-fluid">
	  <div class="span9">
		  <div class="row-fluid">
  	    
        {{#formFor User}}

        	{{input username}}
  				{{input email}}
  				{{input password}}
  				{{submit class='btn btn-primary btn-success'}}
				
				{{/formFor}}
        
		  </div>
    </div>
  </div>
</div>