<div class="container-fluid home_main_content"><!-- Start Table section -->
  <div class="row-fluid">
    <div class="span9">
		  <div class="row-fluid">
  	    
        Tutorials section - Coming Soon 
        
		  </div>
    </div>
  </div>
</div>