<template name="postItem">
  <tr>
    <td><a href="#" class="upvote btn {{upvotedClass}}">⬆</a></td>
	<td>
		<strong><a href="{{postDetailsPath this.slug}}" class="discuss">{{title}}</a> 
		{{#each tags}}  
		  <div class='label label-info'>
		    	<a style='color: rgb(255, 255, 255);' href="/coderecipe/tag/{{.}}">{{.}}</a>
		  </div>
	  {{/each}}
	  
	    </strong><br>
	  
	
		{{pluralize votes "Vote"}}, Coded by <a href="/coderecipe/author/{{author}}">{{author}}</a>
	</td>
	<td><a href="{{postDetailsPath this.slug}}">{{pluralize commentsCount "comment"}}</a></td>
	<td> {{formatDate submitted}}</td>
  </tr>
</template>