<template name="login">
<div class="container-fluid sidebar_content">
		{{#if currentUser}}
			<br>
  		Welcome {{currentUser.username}} <br><br>

  		<button class="btn btn-primary">Logout</button>
  		<br><br><br>
		{{else}}

	<div class="row-fluid">
		<div class="span8">
			<br>
			{{> errors}}
			<div class="row-fluid">
				<div class="span12">
					<h2><i class="icon-key"></i>&nbsp;&nbsp;Login/Register</h2>
					<p>
						You must login or create an account in order to post code recipes — this will enable you to view, remove, or relist your recipes in the future.
					</p>
				</div>
			</div>
			
			<hr>
			
			<div class="row-fluid">
				
				<div class="span6">
					<h2>Create a free account</h2>
					
					<form class="">
						<fieldset>
							<div class="control-group">
								<label class="control-label">Username</label>
								<div class="controls">
									<input class='signup-username' type="text" placeholder="Enter your username">
								</div>
							</div>           
							<div class="control-group">
								<label class="control-label">Email</label>
								<div class="controls">
									<input class='signup-email' type="text" placeholder="Enter your username">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Password</label>
								<div class="controls">
									<input class='signup-password' type="password" placeholder="Enter your password">
								</div>
							</div>
							
							<button id='signup-form' class="btn btn-primary">Create an account</button>
						</fieldset>
					</form>
					
				</div>      
				
				<div class="span6 pull-right">
					<h2>Already have an account?</h2>
					
					<form class="">
						<fieldset>
							<div class="control-group">
								<label class="control-label">Username</label>
								<div class="controls">
									<input class='loginUsername'value=username type="text" placeholder="Enter your username">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Password</label>
								<div class="controls">
									<input class='loginPassword' value=password placeholder="Enter your password" type="password">
								</div>
								</div>

							<button id='login-form' class="btn btn-primary">Log in</button>
						</fieldset>
					</form>
					
				</div>
				
			</div>
		</div>
		
		<div class="span4 sidebar" style="height: 733px;"> 
			<br>
			<h2>Posting a code recipe is Free!!!</h2>
			
			<div class="row-fluid form-tooltip">  
				
				<div class="span12">
					<h4>Reach thousands of users</h4>
					Create simple code recipes and share them with your friends !! Is free and all the comunity will grow.
				</div>  
			</div>  
		
			<div class="row-fluid form-tooltip"> 
				<div class="span12">
					<h4>Simple and Easy</h4>
					Not complex features, no long signup forms, just code and you, enjoy sharing code that took days of research!
				</div>      
			</div>  
			
			<div class="row-fluid form-tooltip"> 
				<div class="span12">
					<h4>More features coming soon</h4>
					This is a beta project for solve the need of clear and easy code to help other, alot of new features will come soon
				</div>
			</div>
			
		</div>  
		
	</div>
	{{/if}}
</div>
  </template>